{% extends 'base.html' %}
{% block body %}
<div class="container">
	<form method="post" enctype="multipart/form-data">
	  {% csrf_token %}
		<input class="form-control form-control-lg" name="upload_file"  id="id_upload_file" type="file" required accept="image/*"  onchange="form.submit()">
	</form><hr>
	
		<div class="row">
			{% for document in documents %}
			<div class="col-md-4">
				<img src="{{ document.upload_file.url }}" class="img-thumbnail" alt="">
			</div>
			{% endfor %}
		</div>
</div>
{% endblock %}

